<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.payu.app.modules.mapper.OcrIdcardMapper">
    <resultMap id="BaseResultMap" type="cn.com.payu.app.modules.entity.OcrIdcard">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="front_url" jdbcType="VARCHAR" property="frontUrl"/>
        <result column="back_url" jdbcType="VARCHAR" property="backUrl"/>
        <result column="cid" jdbcType="VARCHAR" property="cid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="gender" jdbcType="VARCHAR" property="gender"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="issued_by" jdbcType="VARCHAR" property="issuedBy"/>
        <result column="valid_date" jdbcType="VARCHAR" property="validDate"/>
        <result column="nation" jdbcType="VARCHAR" property="nation"/>
        <result column="birthday" jdbcType="VARCHAR" property="birthday"/>
        <result column="del_flag" jdbcType="TINYINT" property="delFlag"/>
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate"/>
        <result column="created_by" jdbcType="INTEGER" property="createdBy"/>
        <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate"/>
        <result column="updated_by" jdbcType="INTEGER" property="updatedBy"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, user_id, front_url, back_url, cid, `name`, gender, address, issued_by, valid_date,
        nation, birthday, del_flag, created_date, created_by, updated_date, updated_by
    </sql>

    <select id="selectByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_ocr_idcard
        where del_flag = 0
        and user_id = #{userId}
        order by id desc
        limit 1
    </select>

    <insert id="saveOrUpdate" parameterType="cn.com.payu.app.modules.entity.OcrIdcard">
        INSERT INTO t_ocr_idcard (id, user_id, front_url, back_url, cid, name, gender, address, issued_by, valid_date, nation, birthday, del_flag, created_date)
        VALUES (#{id}, #{userId}, #{frontUrl}, #{backUrl}, #{cid}, #{name}, #{gender}, #{address}, #{issuedBy}, #{validDate}, #{nation}, #{birthday}, 0, sysdate()) ON DUPLICATE KEY
        UPDATE
            front_url = #{frontUrl},
            back_url = #{backUrl},
            cid = #{cid},
            name = #{name},
            gender = #{gender},
            address = #{address},
            issued_by = #{issuedBy},
            valid_date = #{validDate},
            nation = #{nation},
            birthday = #{birthday},
            updated_date = sysdate()
    </insert>
</mapper>