<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.payu.app.modules.mapper.OrderGoodsMapper">
    <resultMap id="BaseResultMap" type="cn.com.payu.app.modules.entity.OrderGoods">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="order_id" jdbcType="INTEGER" property="orderId"/>
        <result column="goods_id" jdbcType="INTEGER" property="goodsId"/>
        <result column="goods_code" jdbcType="VARCHAR" property="goodsCode"/>
        <result column="goods_name" jdbcType="VARCHAR" property="goodsName"/>
        <result column="goods_price" jdbcType="DECIMAL" property="goodsPrice"/>
        <result column="cost_price" jdbcType="DECIMAL" property="costPrice"/>
        <result column="goods_url" jdbcType="VARCHAR" property="goodsUrl"/>
        <result column="quantity" jdbcType="INTEGER" property="quantity"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="del_flag" jdbcType="TINYINT" property="delFlag"/>
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate"/>
        <result column="created_by" jdbcType="INTEGER" property="createdBy"/>
        <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate"/>
        <result column="updated_by" jdbcType="INTEGER" property="updatedBy"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, order_id, goods_id, goods_code, goods_name, goods_price, cost_price, goods_url, quantity, status,
        del_flag, created_date, created_by, updated_date, updated_by
    </sql>

    <select id="selectByOrderId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_order_goods
        where del_flag = 0
        and order_id = #{orderId}
        limit 1
    </select>
</mapper>