<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.payu.app.modules.mapper.OrderMapper">
    <resultMap id="BaseResultMap" type="cn.com.payu.app.modules.entity.Order">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="cuser_id" jdbcType="INTEGER" property="cuserId"/>
        <result column="order_no" jdbcType="VARCHAR" property="orderNo"/>
        <result column="pay_channel" jdbcType="TINYINT" property="payChannel"/>
        <result column="app_id" jdbcType="VARCHAR" property="appId"/>
        <result column="amount" jdbcType="DECIMAL" property="amount"/>
        <result column="pay_amount" jdbcType="DECIMAL" property="payAmount"/>
        <result column="order_type" jdbcType="TINYINT" property="orderType"/>
        <result column="ie_type" jdbcType="TINYINT" property="ieType"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="del_flag" jdbcType="TINYINT" property="delFlag"/>
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate"/>
        <result column="created_by" jdbcType="INTEGER" property="createdBy"/>
        <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate"/>
        <result column="updated_by" jdbcType="INTEGER" property="updatedBy"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, cuser_id, order_no, pay_channel, amount, pay_amount, app_id, `status`, order_type, ie_type, remark, del_flag,
        created_date, created_by, updated_date, updated_by
    </sql>

    <select id="selectById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_order
        where del_flag = 0
        and id = #{id}
    </select>

    <select id="selectByOrderNo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_order
        where del_flag = 0
        and order_no = #{orderNo}
    </select>

    <select id="selectByOrderType" resultType="cn.com.payu.app.modules.model.MyOrderGoodsDTO">
        select to2.id, to2.order_no orderNo, to2.created_date createdDate, to2.amount, tog.goods_url goodsUrl
        from t_order to2
                 left join t_order_goods tog on tog.order_id = to2.id
        where to2.del_flag = 0
          and to2.status = 1
          and to2.cuser_id = #{userId}
          and to2.order_type = #{orderType}
    </select>

    <update id="updateSuccStatusById">
        update t_order
        set app_id       = #{appId},
            status       = 1,
            updated_date = sysdate()
        where id = #{id}
    </update>

    <update id="updateFailStatusById">
        update t_order
        set status       = 3,
            updated_date = sysdate()
        where id = #{id}
          and status = 2
    </update>

    <update id="closeOrder">
        update t_order
        set status       = 4,
            updated_date = sysdate()
        where id = #{id}
          and status in (2)
    </update>

    <select id="search" resultType="cn.com.payu.app.modules.model.MngOrderDTO">
        select to2.id,
        to2.order_no orderNo,
        to2.created_date createdDate,
        to2.order_type orderType,
        tcup.real_name realName,
        to2.amount,
        tcu.account,
        tcu.from_app fromApp,
        tc.channel_name as channel
        from t_order to2
        left join t_cust_user tcu on tcu.id = to2.cuser_id
        left join t_cust_user_profile tcup on tcup.user_id = tcu.id
        left join t_channel tc on tc.channel = tcu.channel
        where to2.status = 1
        <if test="orderNo != null and orderNo != ''">
            and to2.order_no like CONCAT('%',#{orderNo},'%')
        </if>
        <if test="orderType != null">
            and to2.order_type = #{orderType}
        </if>
        <if test="fromApp != null">
            and tcu.from_app = #{fromApp}
        </if>
        <if test="channel != null and channel != ''">
            and tcu.channel = #{channel}
        </if>
        <if test="username != null and username != ''">
            and tcup.real_name like CONCAT('%',#{username},'%')
        </if>
        <if test="sDate != null and sDate != '' and eDate != null and eDate != ''">
            and DATE_FORMAT(to2.created_date, '%Y-%m-%d') &gt;= #{sDate}
            and DATE_FORMAT(to2.created_date, '%Y-%m-%d') &lt;= #{eDate}
        </if>
        order by to2.created_date desc
    </select>

    <select id="export" resultType="cn.com.payu.app.modules.model.export.MngOrderExport">
        select to2.id,
        to2.order_no orderNo,
        to2.created_date createdDate,
        to2.order_type orderType,
        tcup.real_name realName,
        to2.amount,
        tcu.account,
        tcu.from_app fromApp,
        tc.channel_name as channel
        from t_order to2
        left join t_cust_user tcu on tcu.id = to2.cuser_id
        left join t_cust_user_profile tcup on tcup.user_id = tcu.id
        left join t_channel tc on tc.channel = tcu.channel
        where to2.status = 1
        <if test="orderNo != null and orderNo != ''">
            and to2.order_no like CONCAT('%',#{orderNo},'%')
        </if>
        <if test="orderType != null">
            and to2.order_type = #{orderType}
        </if>
        <if test="fromApp != null">
            and tcu.from_app = #{fromApp}
        </if>
        <if test="channel != null and channel != ''">
            and tcu.channel = #{channel}
        </if>
        <if test="username != null and username != ''">
            and tcup.real_name like CONCAT('%',#{username},'%')
        </if>
        <if test="sDate != null and sDate != '' and eDate != null and eDate != ''">
            and DATE_FORMAT(to2.created_date, '%Y-%m-%d') &gt;= #{sDate}
            and DATE_FORMAT(to2.created_date, '%Y-%m-%d') &lt;= #{eDate}
        </if>
        order by to2.created_date desc
    </select>

    <select id="selectByChannel" resultType="cn.com.payu.app.modules.model.StatisticsModel">
        select tcu.channel label, count(to2.id) cnt, sum(to2.amount) amount
        from t_order to2
        left join t_cust_user tcu on tcu.id = to2.cuser_id
        where to2.order_type = 80
        and to2.status = 1
        <if test="channel != null and channel != ''">
            and tcu.channel = #{channel}
        </if>
        group by tcu.channel
    </select>

    <select id="selectSummary" resultType="cn.com.payu.app.modules.model.OrderSummaryModel">
        select tog.goods_code goodsCode,
        any_value(tog.goods_name) goodsName,
        count(to2.id) orderCnt,
        sum(amount) orderAmount
        from t_order to2
        left join t_order_goods tog on tog.order_id = to2.id
        where to2.status = 1
        and tog.order_id is not null
        and to2.order_type = 80
        <if test="statDate != null and statDate != ''">
            and DATE_FORMAT(to2.created_date, '%Y-%m-%d') = #{statDate}
        </if>
        group by tog.goods_code
    </select>
</mapper>