<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.payu.app.modules.mapper.SniffUnionLoginMapper">
    <resultMap id="BaseResultMap" type="cn.com.payu.app.modules.entity.SniffUnionLogin">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="channel" jdbcType="VARCHAR" property="channel"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="phone_md5" jdbcType="VARCHAR" property="phoneMd5"/>
        <result column="collision_code" jdbcType="VARCHAR" property="collisionCode"/>
        <result column="collision_desc" jdbcType="VARCHAR" property="collisionDesc"/>
        <result column="collision_datetime" jdbcType="TIMESTAMP" property="collisionDatetime"/>
        <result column="register_code" jdbcType="VARCHAR" property="registerCode"/>
        <result column="register_desc" jdbcType="VARCHAR" property="registerDesc"/>
        <result column="register_datetime" jdbcType="TIMESTAMP" property="registerDatetime"/>
        <result column="del_flag" jdbcType="TINYINT" property="delFlag"/>
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate"/>
        <result column="created_by" jdbcType="INTEGER" property="createdBy"/>
        <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate"/>
        <result column="updated_by" jdbcType="INTEGER" property="updatedBy"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, channel, phone, phone_md5, collision_code, collision_desc, collision_datetime,
        register_code, register_desc, register_datetime, del_flag, created_date, created_by,
        updated_date, updated_by
    </sql>

    <select id="selectByPhoneMd5" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_sniff_union_login
        where del_flag = 0
        and phone_md5 = #{phoneMd5}
        limit 1
    </select>
</mapper>