<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.payu.app.modules.mapper.UserProfileMapper">
    <resultMap id="BaseResultMap" type="cn.com.payu.app.modules.entity.UserProfile">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="identity_no" jdbcType="VARCHAR" property="identityNo"/>
        <result column="bank_name" jdbcType="VARCHAR" property="bankName"/>
        <result column="bank_name_code" jdbcType="VARCHAR" property="bankNameCode"/>
        <result column="bank_account" jdbcType="VARCHAR" property="bankAccount"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="province_code" jdbcType="VARCHAR" property="provinceCode"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="city_code" jdbcType="VARCHAR" property="cityCode"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="loan_limit" jdbcType="VARCHAR" property="loanLimit"/>
        <result column="loan_month" jdbcType="VARCHAR" property="loanMonth"/>
        <result column="education" jdbcType="VARCHAR" property="education"/>
        <result column="education_code" jdbcType="VARCHAR" property="educationCode"/>
        <result column="loan_usage" jdbcType="VARCHAR" property="loanUsage"/>
        <result column="loan_usage_code" jdbcType="VARCHAR" property="loanUsageCode"/>
        <result column="sesame_score" jdbcType="VARCHAR" property="sesameScore"/>
        <result column="particle_loan" jdbcType="VARCHAR" property="particleLoan"/>
        <result column="jd_white_note" jdbcType="VARCHAR" property="jdWhiteNote"/>
        <result column="ant_spend" jdbcType="VARCHAR" property="antSpend"/>
        <result column="occupation" jdbcType="VARCHAR" property="occupation"/>
        <result column="occupation_code" jdbcType="VARCHAR" property="occupationCode"/>
        <result column="work_month" jdbcType="VARCHAR" property="workMonth"/>
        <result column="social_security" jdbcType="VARCHAR" property="socialSecurity"/>
        <result column="accumulation_fund" jdbcType="VARCHAR" property="accumulationFund"/>
        <result column="commercial_insurance" jdbcType="VARCHAR" property="commercialInsurance"/>
        <result column="house_assets" jdbcType="VARCHAR" property="houseAssets"/>
        <result column="vehicle_assets" jdbcType="VARCHAR" property="vehicleAssets"/>
        <result column="monthly_income" jdbcType="VARCHAR" property="monthlyIncome"/>
        <result column="monthly_income_code" jdbcType="VARCHAR" property="monthlyIncomeCode"/>
        <result column="salary_payment" jdbcType="VARCHAR" property="salaryPayment"/>
        <result column="credit_situation" jdbcType="VARCHAR" property="creditSituation"/>
        <result column="credit_card_amount" jdbcType="VARCHAR" property="creditCardAmount"/>
        <result column="marital_status" jdbcType="VARCHAR" property="maritalStatus"/>
        <result column="marital_status_code" jdbcType="VARCHAR" property="maritalStatusCode"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="company" jdbcType="VARCHAR" property="company"/>
        <result column="company_province" jdbcType="VARCHAR" property="companyProvince"/>
        <result column="company_city" jdbcType="VARCHAR" property="companyCity"/>
        <result column="company_address" jdbcType="VARCHAR" property="companyAddress"/>
        <result column="company_industry" jdbcType="VARCHAR" property="companyIndustry"/>
        <result column="company_industry_code" jdbcType="VARCHAR" property="companyIndustryCode"/>
        <result column="company_tel" jdbcType="VARCHAR" property="companyTel"/>
        <result column="position" jdbcType="VARCHAR" property="position"/>
        <result column="position_code" jdbcType="VARCHAR" property="positionCode"/>
        <result column="loan_amount" jdbcType="DECIMAL" property="loanAmount"/>
        <result column="loan_period" jdbcType="INTEGER" property="loanPeriod"/>
        <result column="loan_method" jdbcType="VARCHAR" property="loanMethod"/>
        <result column="del_flag" jdbcType="TINYINT" property="delFlag"/>
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate"/>
        <result column="created_by" jdbcType="INTEGER" property="createdBy"/>
        <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate"/>
        <result column="updated_by" jdbcType="INTEGER" property="updatedBy"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, user_id, real_name, identity_no, bank_name, bank_name_code, bank_account, province,
        province_code, city, city_code, address, loan_limit, loan_month, education, education_code,
        loan_usage, loan_usage_code, sesame_score, particle_loan, jd_white_note, ant_spend,
        occupation, occupation_code, work_month, social_security, accumulation_fund, commercial_insurance,
        house_assets, vehicle_assets, monthly_income, monthly_income_code, salary_payment,
        credit_situation, credit_card_amount, marital_status, marital_status_code, email,
        company, company_province, company_city, company_address, company_industry, company_industry_code,
        company_tel, `position`, position_code, loan_amount, loan_period, loan_method, del_flag,
        created_date, created_by, updated_date, updated_by
    </sql>

    <select id="selectByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_cust_user_profile
        where user_id = #{userId}
        and del_flag = 0
    </select>

    <update id="logicDeleteById">
        update t_cust_user_profile
        set del_flag = -1
        where id = #{id}
    </update>

    <update id="logicDeleteByUserId">
        update t_cust_user_profile
        set del_flag = -1
        where user_id = #{userId}
    </update>

    <select id="search" resultType="cn.com.payu.app.modules.model.MngCUserDTO">
        select tcup.user_id userId,
        tcup.real_name realName,
        tcup.identity_no identityNo,
        tcu.account mobile,
        tcup.bank_name bankName,
        tcup.bank_name_code bankNameCode,
        tcup.bank_account bankAccount,
        tcup.loan_amount loanAmount,
        tcup.loan_period loanPeriod,
        tcup.loan_method loanMethod,
        tcup.province,
        tcup.province_code provinceCode,
        tcup.city,
        tcup.city_code cityCode,
        tcup.address address,
        tcup.loan_limit loanLimit,
        tcup.loan_month loanMonth,
        tcup.education,
        tcup.education_code educationCode,
        tcup.loan_usage loanUsage,
        tcup.loan_usage_code loanUsageCode,
        tcup.sesame_score sesameScore,
        tcup.particle_loan particleLoan,
        tcup.jd_white_note jdWhiteNote,
        tcup.ant_spend antSpend,
        tcup.occupation,
        tcup.occupation_code occupationCode,
        tcup.work_month workMonth,
        tcup.social_security socialSecurity,
        tcup.accumulation_fund accumulationFund,
        tcup.commercial_insurance commercialInsurance,
        tcup.house_assets houseAssets,
        tcup.vehicle_assets vehicleAssets,
        tcup.monthly_income monthlyIncome,
        tcup.monthly_income_code monthlyIncomeCode,
        tcup.salary_payment salaryPayment,
        tcup.credit_situation creditSituation,
        tcup.credit_card_amount creditCardAmount,
        tcup.created_date createdDate
        from t_cust_user_profile tcup
        left join t_cust_user tcu on tcu.id = tcup.user_id
        where 1=1
        <if test="term != null and term !=''">
            and (tcu.account like CONCAT('%',#{term},'%') or tcup.real_name like CONCAT('%',#{term},'%'))
        </if>
        order by tcup.created_date desc
    </select>

    <select id="export" resultType="cn.com.payu.app.modules.model.export.MngCUserExport">
        select tcup.user_id userId,
        tcup.real_name realName,
        tcup.identity_no identityNo,
        tcu.account mobile,
        tcup.bank_name bankName,
        tcup.bank_name_code bankNameCode,
        tcup.bank_account bankAccount,
        tcup.loan_amount loanAmount,
        tcup.loan_period loanPeriod,
        tcup.loan_method loanMethod,
        tcup.province,
        tcup.province_code provinceCode,
        tcup.city,
        tcup.city_code cityCode,
        tcup.address address,
        tcup.loan_limit loanLimit,
        tcup.loan_month loanMonth,
        tcup.education,
        tcup.education_code educationCode,
        tcup.loan_usage loanUsage,
        tcup.loan_usage_code loanUsageCode,
        tcup.sesame_score sesameScore,
        tcup.particle_loan particleLoan,
        tcup.jd_white_note jdWhiteNote,
        tcup.ant_spend antSpend,
        tcup.occupation,
        tcup.occupation_code occupationCode,
        tcup.work_month workMonth,
        tcup.social_security socialSecurity,
        tcup.accumulation_fund accumulationFund,
        tcup.commercial_insurance commercialInsurance,
        tcup.house_assets houseAssets,
        tcup.vehicle_assets vehicleAssets,
        tcup.monthly_income monthlyIncome,
        tcup.monthly_income_code monthlyIncomeCode,
        tcup.salary_payment salaryPayment,
        tcup.credit_situation creditSituation,
        tcup.credit_card_amount creditCardAmount,
        tcup.created_date createdDate
        from t_cust_user_profile tcup
        left join t_cust_user tcu on tcu.id = tcup.user_id
        where 1=1
        <if test="term != null and term !=''">
            and (tcu.account like CONCAT('%',#{term},'%') or tcup.real_name like CONCAT('%',#{term},'%'))
        </if>
        order by tcup.created_date desc
    </select>

</mapper>