<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.payu.app.modules.mapper.UserVipMapper">
    <resultMap id="BaseResultMap" type="cn.com.payu.app.modules.entity.UserVip">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="level" jdbcType="INTEGER" property="level"/>
        <result column="effective_date" jdbcType="TIMESTAMP" property="effectiveDate"/>
        <result column="expiration_date" jdbcType="TIMESTAMP" property="expirationDate"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="del_flag" jdbcType="TINYINT" property="delFlag"/>
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate"/>
        <result column="created_by" jdbcType="INTEGER" property="createdBy"/>
        <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate"/>
        <result column="updated_by" jdbcType="INTEGER" property="updatedBy"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, user_id, `level`, effective_date, expiration_date, `status`, del_flag, created_date,
        created_by, updated_date, updated_by
    </sql>

    <select id="selectByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_cust_user_vip
        where del_flag = 0
        and user_id = #{userId}
    </select>

    <update id="updateStatusByUserId">
        update t_cust_user_vip
        set status       = #{status},
            updated_date = sysdate()
        where user_id = #{userId}
    </update>

    <insert id="saveOrUpdate" parameterType="cn.com.payu.app.modules.entity.UserVip">
        INSERT INTO t_cust_user_vip (id, user_id, level, effective_date, expiration_date, status, del_flag,
                                     created_date)
        VALUES (#{id}, #{userId}, 0, #{effectiveDate}, #{expirationDate}, #{status}, 0, sysdate()) ON DUPLICATE KEY
        UPDATE
            effective_date = #{effectiveDate,jdbcType=TIMESTAMP},
            expiration_date = #{expirationDate,jdbcType=TIMESTAMP},
            status = #{status,jdbcType=TINYINT},
            updated_date = sysdate()
    </insert>
</mapper>